<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodOfCast blog</title>
    <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
    <header>
        <div class="container header__top">
            <img src="../img/logo.png" alt="Логотип" class="header__logo">
            <ul class="header__ul">
                <li><a href="#" class="header__link">Episodes</a></li>
                <li><a href="#" class="header__link">About</a></li>
                <li><a href="#" class="header__link">More</a></li>
            </ul>
            <div class="header__btncont">
                <button class="header__cont__btn1">RECENT EPISODES</button>
                <button class="header__cont__btn2">SUBSCRIBE</button>
            </div>
        </div>
        <div class="container header__bottom"> 
            <img src="../img/headerbackleft.png" class="backimg1">
            <img src="../img/headerbackright.png" class="backimg2">
            <div class="header__bottom__cont">
                <h1 class="header__bottom__title1">Article</h1>
                <h1 class="header__bottom__title2">and <span class="orangestar">News</span></h1>
            </div>
        </div>
    </header>
</body>
</html>