<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podcast Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <header>
        <div class="container header__top">
            <img src="../img/logo.png" alt="Логотип" class="header__logo">
            <ul class="header__ul">
                <li><a href="#" class="header__link">Episodes</a></li>
                <li><a href="#" class="header__link">About</a></li>
                <li><a href="#" class="header__link">More</a></li>
            </ul>
            <div class="header__btncont">
                <button class="header__cont__btn1">RECENT EPISODES</button>
                <button class="header__cont__btn2">SUBSCRIBE</button>
            </div>
        </div>
        <div class="container header__main">
            <img src="../img/headerbackleft.png" class="backimg1">
            <img src="../img/headerbackright.png" class="backimg2">
            <div class="header__main__inf about__main__inf">
                <img src="../img/detail/detailHeader.jpg" alt="Girl perplexed">
                <div class="header__main__right">
                    <div class="header__main__right__sub1">
                        <p>Episode 1</p>
                        <h4>FEATURED EPISODE</h4>
                    </div>
                    <h2>Are you a Perplexed Mind Person?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <div class="hostedBy">
                        <p>Hosted by: <a href="##">Jane Doe</a></p>
                        <p>Sep 22, 2021</p>
                    </div>
                    <div class="header__main__right__sub2">
                        <button>SUBSCRIBE</button>
                        <button>LISTEN NOW <span class="orangestar">(46 min)</span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>