* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1160px;
    margin: 0 auto;
    column-gap: 20px;
    font-family: "Montserrat";
}
.sections__title {
    grid-row: 1/2;
    grid-column: 1/13;
    font-weight: 700;
    font-size: 59px;
    text-align: center;
    margin-bottom: 20px;
}
.sections__undertitle {
    grid-row: 2/3;
    grid-column: 1/13;
    font-weight: 500;
    font-size: 22.65px;
    text-align: center;
    color: #4D4D4D;
}
.orangestar {
    color: #CD4631;
}

/* HEADER HEADER HEADER HEADER HEADER HEADER */
.header__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header__link {
    text-decoration: none;
    color: black;
}
.header__cont {
    display: flex;
    flex-direction: row;
}

.header__cont__btn1 {
    height: 41px;
    padding: 12px 24px;
    background-color: inherit;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 20px;
    font-family: "Montserrat";
}
.header__cont__btn2 {
    height: 41px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0,0,0);
    font-family: "Montserrat";
}
.header__logo {
    grid-column: 1/2;
}
.header__ul {
    grid-column: 3/7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__btncont {
    grid-column: 7/13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__top {
    margin-bottom: 64px;
}
header {
    background-color: #F7EDE8;
    padding-top: 26px;
    padding-bottom: 140px;
}
.backimg1 {
    position: absolute;
    left: 0px;
    top: -10px;
}
.backimg2 {
    right: 30px;
    position: absolute;
}
.header__bottom {
    position: relative;
}
.header__bottom__cont {
    grid-column: 1/13;
    display: flex;
    flex-direction: column;
}
.header__bottom__title1 {
    text-align: center;
    font-weight: 700;
    font-size: 96px;
}
.header__bottom__title2 {
    text-align: center;
    font-weight: 700;
    font-size: 96px;
}
