* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1160px;
    margin: 0 auto;
    column-gap: 20px;
    font-family: "Montserrat";
}
.sections__title {
    grid-row: 1/2;
    grid-column: 1/13;
    font-weight: 700;
    font-size: 59px;
    text-align: center;
    margin-bottom: 20px;
}
.sections__undertitle {
    grid-row: 2/3;
    grid-column: 1/13;
    font-weight: 500;
    font-size: 22.65px;
    text-align: center;
    color: #4D4D4D;
}
.orangestar {
    color: #CD4631;
}
/* HEADER HEADER HEADER */
.header__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header__link {
    text-decoration: none;
    color: black;
}
.header__cont {
    display: flex;
    flex-direction: row;
}

.header__cont__btn1 {
    height: 41px;
    padding: 12px 24px;
    background-color: inherit;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 20px;
    font-family: "Montserrat";
}
.header__cont__btn2 {
    height: 41px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0,0,0);
    font-family: "Montserrat";
}
.header__logo {
    grid-column: 1/2;
}
.header__ul {
    grid-column: 3/7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__btncont {
    grid-column: 7/13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__top {
    margin-bottom: 64px;
}
header {
    background-color: #F7EDE8;
    padding-top: 26px;
    padding-bottom: 256px;
    position: relative;
}
.header__main__inf {
    grid-column: 3/11;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__main__inf__h11 {
    color: #000000;
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    text-wrap: nowrap;
}
.header__main__inf__h12 {
    font-weight: 700;
    font-size: 96px;
    color: #CD4631;
    text-align: center;
    text-wrap: nowrap; 
    margin-bottom: 40px;
}
.header__main__inf p {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 30px;
    text-align: center;
    max-width: 766px;
    color: #4D4D4D;
    margin-bottom: 70px;
}
.backimg1 {
    position: absolute;
    left: 0px;
    top: 10px;
}
.backimg2 {
    right: 30px;
    position: absolute;
}
.header__slider {
    height: 373px;
    background-color: #CD4631;
    margin-bottom: 120px;
}
.header__sponsors {
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header__sponsors__left {
    grid-column: 1/3;
    display: flex;
    align-items: center;
}
.header__sponsors__right {
    grid-column: 4/13;
    padding: 20px 73.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__main__inf__h11{
    font-weight: 700;
    font-size: 96px;
    color: #000000;
    margin-bottom: 0px;
    text-align: center;
    text-wrap: nowrap;
}
.about__main__inf__h12 {
    font-weight: 700;
    font-size: 96px;
    color: #CD4631;
    text-align: center;
    text-wrap: nowrap;
}
.header__main__inf__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__main__inf__buttons button {
    text-wrap: nowrap;
}
.header__main__inf__button1 {
    background-color: #F7EDE8;
    margin-right: 20px;
    padding: 20px 36px;
    font-weight: 700;
    font-size: 14px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-family: "Montserrat";
    box-shadow: 6px 6px 0 0 #00000040;
}
.header__main__inf__button2 {
    background-color: #000000;
    margin-right: 20px;
    padding: 20px 36px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
    font-family: "Montserrat";
    box-shadow: 6px 6px 0 0 #00000040;
}
.about__main__inf {
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__main__right__sub1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}