* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1160px;
    margin: 0 auto;
    column-gap: 20px;
    font-family: "Montserrat";
}
.sections__title {
    grid-row: 1/2;
    grid-column: 1/13;
    font-weight: 700;
    font-size: 59px;
    text-align: center;
    margin-bottom: 20px;
}
.sections__undertitle {
    grid-row: 2/3;
    grid-column: 1/13;
    font-weight: 500;
    font-size: 22.65px;
    text-align: center;
    color: #4D4D4D;
}
.orangestar {
    color: #CD4631;
}
.black-box-shadow {
    box-shadow: 10px 10px 0 0 #000000;
}
/* HEADER HEADER HEADER HEADER HEADER HEADER */
.header__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header__link {
    text-decoration: none;
    color: black;
}
.header__cont {
    display: flex;
    flex-direction: row;
}

.header__cont__btn1 {
    height: 41px;
    padding: 12px 24px;
    background-color: inherit;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 20px;
    font-family: "Montserrat";
}
.header__cont__btn2 {
    height: 41px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0,0,0);
    font-family: "Montserrat";
}
.header__logo {
    grid-column: 1/2;
}
.header__ul {
    grid-column: 3/7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__btncont {
    grid-column: 7/13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__top {
    margin-bottom: 64px;
}
header {
    background-color: #F7EDE8;
    padding-top: 26px;

    position: relative;
}
.backimg1 {
    position: absolute;
    left: 0px;
    top: 60px;
    z-index: 0;
}
.backimg2 {
    right: -34px;
    top: 256px;
    position: absolute;
    z-index: 0;
}
.backto {
    grid-row: 1/2;
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__bottom__toptitle {
    grid-row: 2/3;
    grid-column: 1/13;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #CD4631;
    margin-bottom: 10px;
}
.header__bottom__title {
    grid-row: 3/4;
    grid-column: 1/13;
    text-align: center;
    font-size: 59px;
    font-weight: 700;
    margin-bottom: 40px;
}
.gray__container {
    grid-row: 4/5;
    grid-column: 5/9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.gray__container p {
    font-size: 14px;
    font-weight: 500;
    color: #4D4D4D;
    padding: 6px 12px;
    border: 1px solid #4D4D4D;
    border-radius: 4px;
}
.footer__icons {
    grid-row: 5/6;
    grid-column: 6/8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 25px;
}
.backto {
    margin-bottom: 47px;
}
.backto__back {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.backto__back::before {
    content: "";
    background-image: url("../img/single/leftcircle.png");
    width: 20px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: -23px;
    bottom: 2px;
}
.gray__btn1 {
    margin-right: 6px;
}
.gray__btn2 {
    margin-right: 6px;
}
.header__bigimg {
    z-index: 2;
    position: relative;
    bottom: -51px;
    width: 100%;
}

/* DOODLE DOODLE DOODLE DOODLE DOODLE DOODLE DOODLE DOODLE */

.doodle {
    padding-top: 140px;
    padding-bottom: 140px;
}
.doodle__title {
    font-weight: 700;
    font-size: 37px;
    grid-row: 1/2;
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 80px;
}
.doodle__inf1 { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 2/3;
    grid-column: 1/13;
    padding-bottom: 81px;
    border-bottom: 0.5px solid #4D4D4D;
    margin-bottom: 100px;
}
.doodle__inf1__left {
    max-width: 570px;
    box-sizing: border-box;
}
.doodle__inf1__left__p1 {
    margin-bottom: 30px;
}
.doodle__inf1__left p {
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}
.doodle__inf1__right {
    max-width: 570px;
    box-sizing: border-box;
}
.doodle__inf1__right p {
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}
/* SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS */
.bold {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    line-height: 160%;
}
.underline {
    text-decoration: underline;
    color: #000000; 
}
/* SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS */

/* QUOTE QUOTE QUOTE QUOTE QUOTE */

.talk__container__subcont3 {
    grid-column: 1/13;
    grid-row: 3/4;
    background-color: #F7EDE8;
    border-radius: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}
.talk__container__subcont3 .skobki {
    width: 51px;
    height: 42px;
    margin-bottom: 50px;
}
.talk__container__subcont3__p {
    font-weight: 700;
    font-size: 30px;
    max-width: 559px;
    text-align: center;
    margin-bottom: 40px;
}
.talk__container__subcont3 div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.talk__cont__sb3__p1 {
    margin-right: 40px;
}
.talk__cont__sb3__p2 {
    font-weight: 700;
    position: relative;
}
.talk__cont__sb3__p2::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/spotyicon.jpg");
    background-size: 21px  21px;
    background-repeat: no-repeat;
    position: absolute;
    left: -25px;
    top: -1px;
}
.talk__avatar {
    border-radius: 25px;
    margin-right: 20px;
}
.talk__bg__img1 {
    position: absolute;
    left: -60px;
    bottom: -5px;
}
.talk__bg__img2 {
    position: absolute;
    right: -80px;
    top: -50px;
}
.doodle__inf2 {
    grid-row: 4/5;
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 131px;
}
.doodle__inf2 h3 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 22.65px;
    margin-bottom: 60px;
}
.doodle__inf2__left {
    max-width: 570px;
    box-sizing: border-box;
    padding-left: 27.6px;
}
.doodle__inf2__left li {
    color: #CD4631;
}
.doodle__inf2__left li p {
    color: #000;
}
.doodle__inf2__left ul li:not(:last-child) {
    margin-bottom: 40px;
}
.doodle__inf2__right {
    max-width: 570px;
    box-sizing: border-box;
    padding-left: 27.6px;
}
.doodle__inf2__right ul {
    list-style-type: none;
    counter-reset: number-counter;

}
.doodle__inf2__right li {
    color: #CD4631;
    counter-increment: number-counter;
    position: relative;
}
.doodle__inf2__right li::before {
    content: counter(number-counter) ".";
    position: absolute;
    left: -20px;
    color: #CD4631;
    font-weight: 700;
    font-size: 16px;
}
.doodle__inf2__right li p {
    color: #000;
}
.doodle__inf2__right ul li:not(:last-child) {
    margin-bottom: 40px;
}

.doodle__example {
    grid-row: 5/6;
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.doodle__example__left {
    max-width: 570px;
}
.doodle__example__left img {
    margin-bottom: 20px;
}
.doodle__example__left p {
    color: #4D4D4D;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.doodle__example__right {
    max-width: 570px;
}
.doodle__example__right img {
    margin-bottom: 20px;
}
.doodle__example__right a {
    color: #CD4631;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    display: block;
}


/* RELATED RELATED RELATED RELATED RELATED RELATED RELATED RELATED */

.related {
    background-color: #F7EDE8;
    padding-top: 140px;
    padding-bottom: 140px;
}
.related__undertitle {
    margin-bottom: 100px;
}

.article__main__left {
    grid-row: 3/4;
    grid-column: 1/7;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 100px;
    background-color: #fff;
}
.article__main__left img {
    margin-bottom: 40px;
    width: 100%;
}
.article__main__right {
    grid-row: 3/4;
    grid-column: 7/13;
    border: 2px solid #000;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 100px;
    background-color: #fff;
}
.article__main__right img {
    width: 100%;
    margin-bottom: 40px;
}
.article__main__toptitle {
    color: #4D4D4D;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 6px;
}
.article__main__title {
    margin-bottom: 20px;
    color: #CD4631;
    font-weight: 700;
    font-size: 36.65px;
    line-height: 140%;
}
.article__main__inf {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 26px;
}
.article__main__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.article__gray {
    padding: 6px 12px;
    border: 1px solid #4D4D4D;
    border-radius: 4px;
    color: #4D4D4D;
    font-size: 12px;
    font-weight: 500;
    margin-right: 6px;
}
.gray__cont {
    display: flex;
    flex-direction: row;
}
.article__button {
    font-family: 'Montserrat';
    grid-row: 4/5;
    grid-column: 5/9;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: #fff;
    padding: 20px 36px;
    font-size: 20px;
    font-weight: 700;
    text-wrap: nowrap;
    display: inline;
}

/* AVAI AVAI AVAI AVAI AVAI AVAI AVAIAVAIAVAVIAVAVIAVAVIAAVAIAVAIAVAIAVAIAVAVIAVAVOAVAOAVAI */ 
.avai {
    background-color: #EDF3F7;
    padding-top: 140px;
    padding-bottom: 140px;
}
.title__container {
    grid-column: 4/10;
    grid-row: 1/2;
    margin-bottom: 28px;

}
.title__container h1 {
    font-size: 59.3px;
    font-weight: 700;
    text-align: center;
}
.avai__undertitle {
    grid-column: 4/10;
    color: #4D4D4D;
    font-size: 22.65px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 140px;
}
.avai button {
    grid-column: 5/9;
    grid-row: 3/4;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    padding: 20px 36px;
    border: none;
    border-radius: 8px;
    max-width: 210px;
    justify-self: center;
    font-family: "Montserrat";
    margin-bottom: 24px;
}
.avai__icons__p {
    grid-column: 5/9;
    grid-row: 4/5;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #4D4D4D;
    margin-bottom: 10px;
}
.avai__icons {
    grid-row: 5/6;
    grid-column: 6/8;
    display: flex;
    align-items: center;
    padding: 0 37.5px;
    justify-content: space-between;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

footer {
    padding-top: 140px;
    padding-bottom: 80px;
}
.footer__container {
    row-gap: 140px;
}
.about {
    grid-row: 1/2;
    grid-column: 1/4;
}
.about__p {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 40px;
}
.about__sub1 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 40px;
}
.about__sub1 img {
    margin-right: 24px;
}
.about__sub1 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    color: #4D4D4D;
}

.footer__icons svg {
    margin-right: 25px;
}
.ssilky1 {
    grid-row: 1/2;
    grid-column: 5/7;
}
.ssilky1 ul li {
    margin-bottom: 20px;
}
.ssilky1 ul li a {
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}
.ssilky1 ul {
    list-style-type: none;
}


.ssilky2 {
    grid-row: 1/2;
    grid-column: 7/9;
}
.ssilky2 ul li {
    margin-bottom: 20px;
}
.ssilky2 ul li a {
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}
.ssilky2 ul {
    list-style-type: none;
}
.ssilky2 ul {
    list-style-type: none;
}


.listen {
    grid-row: 1/2;
    grid-column: 9/13;
}
.listen__sub1 {
    margin-bottom: 60px;
}
.listen__sub1 p {
    font-size: 16px;
    font-weight: 500;
    color: #4D4D4D;
    line-height: 160%;
    margin-bottom: 29px;
}
.listen__img__cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listen__img1 {
    max-width: 122px;
}
.listen__img2 {
    max-width: 80px;
}
.listen__img3 {
    max-width: 94px;
}
.listen__bottom__p {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #4D4D4D;
    margin-bottom: 20px;
}
.footer__available {
    max-width: 93px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__orangespan {
    color: #CD4631;
}
.bottom {
    grid-row: 2/3;
    grid-column: 1/13;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 0.5px solid #4D4D4D;
}