* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MontserratAlternates-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratAlternates-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap; /* Шрифт покажется сразу системным, потом заменится */
}
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1160px;
    margin: 0 auto;
    column-gap: 20px;
    font-family: "Montserrat";
}
.sections__title {
    grid-row: 1/2;
    grid-column: 1/13;
    font-weight: 700;
    font-size: 59px;
    text-align: center;
    margin-bottom: 20px;
}
.sections__undertitle {
    grid-row: 2/3;
    grid-column: 1/13;
    font-weight: 500;
    font-size: 22.65px;
    text-align: center;
    color: #4D4D4D;
}
.orangestar {
    color: #CD4631;
}
.black-box-shadow {
    box-shadow: 10px 10px 0 0 #000000;
}
/* HEADER HEADER HEADER HEADER HEADER HEADER */
.header__ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header__link {
    text-decoration: none;
    color: black;
}
.header__cont {
    display: flex;
    flex-direction: row;
}

.header__cont__btn1 {
    height: 41px;
    padding: 12px 24px;
    background-color: inherit;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 20px;
    font-family: "Montserrat";
}
.header__cont__btn2 {
    height: 41px;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(0,0,0);
    font-family: "Montserrat";
}
.header__logo {
    grid-column: 1/2;
}
.header__ul {
    grid-column: 3/7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__btncont {
    grid-column: 7/13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__top {
    margin-bottom: 64px;
}
header {
    background-color: #F7EDE8;
    padding-top: 26px;

    position: relative;
}
.backimg1 {
    position: absolute;
    left: 0px;
    top: 60px;
    z-index: 0;
}
.backimg2 {
    right: -34px;
    top: 256px;
    position: absolute;
    z-index: 0;
}
.backto {
    grid-row: 1/2;
    grid-column: 1/13;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__bottom__toptitle {
    grid-row: 2/3;
    grid-column: 1/13;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #CD4631;
    margin-bottom: 10px;
}
.header__bottom__title {
    grid-row: 3/4;
    grid-column: 1/13;
    text-align: center;
    font-size: 59px;
    font-weight: 700;
    margin-bottom: 40px;
}
.gray__container {
    grid-row: 4/5;
    grid-column: 5/9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}
.gray__container p {
    font-size: 14px;
    font-weight: 500;
    color: #4D4D4D;
    padding: 6px 12px;
    border: 1px solid #4D4D4D;
    border-radius: 4px;
}
.footer__icons {
    grid-row: 5/6;
    grid-column: 6/8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 25px;
}
.backto {
    margin-bottom: 47px;
}
.backto__back {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}
.backto__back::before {
    content: "";
    background-image: url("../img/single/leftcircle.png");
    width: 20px;
    height: 13px;
    background-repeat: no-repeat;
    position: absolute;
    left: -23px;
    bottom: 2px;
}
.gray__btn1 {
    margin-right: 6px;
}
.gray__btn2 {
    margin-right: 6px;
}
.header__bigimg {
    z-index: 2;
    position: relative;
    bottom: -51px;
    width: 100%;
}

/* DOODLE DOODLE DOODLE DOODLE DOODLE DOODLE DOODLE DOODLE */

.doodle {
    padding-top: 140px;
    padding-bottom: 140px;
}
.doodle__title {
    font-weight: 700;
    font-size: 37px;
    grid-row: 1/2;
    grid-column: 1/13;
    text-align: center;
    margin-bottom: 80px;
}
.doodle__inf1 { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-row: 2/3;
    grid-column: 1/13;
    padding-bottom: 81px;
    border-bottom: 0.5px solid #4D4D4D;
    margin-bottom: 100px;
}
.doodle__inf1__left {
    max-width: 570px;
    box-sizing: border-box;
}
.doodle__inf1__left__p1 {
    margin-bottom: 30px;
}
.doodle__inf1__left p {
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}
.doodle__inf1__right {
    max-width: 570px;
    box-sizing: border-box;
}
.doodle__inf1__right p {
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}
/* SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS */
.bold {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    line-height: 160%;
}
.underline {
    text-decoration: underline;
    color: #000000; 
}
/* SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS SETTINGS */